* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  height: 80vh;
  background-color: #935638;
  background: url("../img/header_background.jpg");
  background-position: center;
  background-size: auto;
  background-attachment: scroll;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header h1 {
  font-family: 'Damion', cursive;
  font-weight: lighter;
  height: 140px;
  width: 100%;
  color: white;
  line-height: 140px;
  text-align: center;
  font-size: 6em;
  position: absolute;
  top: 50vh;
  margin-top: -150px;
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  background-color: rgba(208, 0, 60, 0.65);
  opacity: 0;
  cursor: default;
}

header h1::before, header h1::after {
  content: "";
  background-color: white;
  height: 3px;
  width: 100%;
  position: absolute;
  animation-delay: 0.25s;
}

header h1::before {
  left: 0;
  top: 0;
  animation: rollOutLeft 1s linear;
}

header h1::after {
  right: 0;
  bottom: 0;
  animation: rollOutRight 1s linear;
}

@media (min-width: 800px) {
  header {
    background-size: auto;
    background-attachment: fixed;
    background-position: center -200px;
  }
  header h1 {
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }
}

.down_arrow {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  animation: moveDown 1.3s ease-in-out 1.5s infinite;
  padding-top: 30px;
  cursor: pointer;
}

.down_arrow span {
  position: absolute;
  height: 30px;
  width: 5px;
  background-color: white;
  border-radius: 10px;
}

.down_arrow span:nth-of-type(1) {
  transform: rotate(50deg);
  right: 38px;
}

.down_arrow span:nth-of-type(2) {
  transform: rotate(-50deg);
  left: 38px;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes rollOutLeft {
  0% {
    width: 0;
  }
}

@keyframes rollOutRight {
  0% {
    width: 0;
  }
}

@keyframes moveDown {
  from {
    opacity: 0;
    bottom: 0px;
  }
  90% {
    opacity: 1;
    bottom: -40px;
  }
  to {
    opacity: 0;
    bottom: -40px;
  }
}

.section_first {
  background-color: white;
  position: relative;
  padding-top: 50px;
  border-bottom: 1px solid #f2a705;
  border-top: 1px solid #f2a705;
}

.section_first::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 1vh;
  width: 100%;
  background-color: white;
  top: -2.5vh;
  border-bottom: 1px solid #f2a705;
  border-top: 1px solid #f2a705;
}

.section_first::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 1vh;
  width: 100%;
  background-color: white;
  bottom: -2.5vh;
  border-bottom: 1px solid #f2a705;
  border-top: 1px solid #f2a705;
}

.sf_header {
  font-family: 'Damion', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 3.5em;
  color: #d0003c;
  transition: 1s;
  opacity: 0;
}

.sf_header::-moz-selection {
  background: rgba(208, 0, 60, 0.65);
  color: white;
}

.sf_header::selection {
  background: rgba(208, 0, 60, 0.65);
  color: white;
}

.sf_container {
  width: 100%;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 150px;
  overflow: hidden;
  margin-bottom: -50px;
}

.sf_pic {
  height: 100%;
  width: 300px;
  background-color: pink;
  background-image: url("../img/cupCakes.jpg");
  background-size: contain;
  border: 2px solid #d0003c;
  background-clip: content-box;
  box-sizing: border-box;
  position: relative;
}

.sf_pic_container {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateX(-300px);
  margin-top: 50px;
}

.sf_pic_container::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 15px 16px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.8);
  top: 80%;
  bottom: 17px;
  width: 50%;
  left: 2.5%;
  transform: rotate(-3deg);
  transition: 2s;
}

.sf_pic_container::after {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 15px 16px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.8);
  top: 80%;
  bottom: 17px;
  width: 50%;
  right: 2.5%;
  transform: rotate(3deg);
  transition: 2s;
}

.sf_pic::-moz-selection {
  background: rgba(242, 167, 5, 0.65);
}

.sf_pic::selection {
  background: rgba(242, 167, 5, 0.65);
}

.sf_textblock {
  height: auto;
  width: 300px;
  opacity: 0;
  text-align: justify;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateX(300px);
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
}

.sf_textblock h2 {
  color: #d0003c;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px dotted #d0003c;
  padding-bottom: 30px;
}

.sf_textblock ::-moz-selection {
  background: rgba(242, 167, 5, 0.65);
}

.sf_textblock ::selection {
  background: rgba(242, 167, 5, 0.65);
}

.sf_textblock h2::-moz-selection {
  background: rgba(208, 0, 60, 0.65);
  color: white;
}

.sf_textblock h2::selection {
  background: rgba(208, 0, 60, 0.65);
  color: white;
}

@media (min-width: 650px) {
  .sf_textblock {
    width: 500px;
  }
  .sf_pic {
    height: 360px;
    width: 543.72px;
  }
}

@media (min-width: 800px) {
  .sf_container {
    margin-bottom: 0px;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .sf_header {
    margin-bottom: 50px;
  }
  .sf_textblock {
    width: 500px;
  }
  .sf_pic {
    height: 360px;
    width: 543.72px;
  }
}

@media (min-width: 1300px) {
  .sf_textblock {
    margin-top: 0px;
  }
}

.sfh_land {
  opacity: 1;
  transition: 1s;
  transform: translateY(50px);
}

.sft_land {
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}

.section_parallax {
  height: 70vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -20;
  background-color: #fff4f7;
}

.section_parallax div {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.section_parallax::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 1vh;
  width: 100%;
  background-color: white;
  bottom: 1vh;
  border-top: 1px solid #f2a705;
  border-bottom: 1px solid #f2a705;
}

.prlx1 {
  height: 18vw;
  width: 18vw;
  left: 45%;
  bottom: -8vw;
  z-index: -1;
  background-image: url("../img/praline1.png");
}

.prlx2 {
  height: 10vw;
  width: 10vw;
  left: 30%;
  bottom: 7vw;
  z-index: -3;
  background-image: url("../img/strawberry1.png");
  opacity: 0.8;
}

.prlx3 {
  height: 16vw;
  width: 16vw;
  left: 80%;
  bottom: -28vw;
  z-index: -2;
  background-image: url("../img/cupcake1.png");
}

.prlx4 {
  height: 12vw;
  width: 12vw;
  left: 10%;
  bottom: 27vw;
  z-index: -2;
  background-image: url("../img/raspberry2.png");
}

.prlx5 {
  height: 17vw;
  width: 17vw;
  left: 60%;
  bottom: 20vw;
  z-index: -1;
  background-image: url("../img/praline1.png");
}

.prlx6 {
  height: 12vw;
  width: 12vw;
  left: 80%;
  bottom: 18vw;
  z-index: -2;
  background-image: url("../img/praline3.png");
}

.prlx7 {
  height: 22vw;
  width: 22vw;
  left: 5%;
  bottom: -52vw;
  z-index: -2;
  background-image: url("../img/cupcake2.png");
}

.prlx8 {
  height: 6vw;
  width: 6vw;
  left: 5%;
  bottom: 31vw;
  z-index: -3;
  background-image: url("../img/praline3.1.png");
  opacity: 0.6;
}

.prlx9 {
  height: 5vw;
  width: 5vw;
  left: 60%;
  bottom: 18vw;
  z-index: -2;
  background-image: url("../img/raspberry1.png");
  opacity: 0.6;
}

.prlx10 {
  height: 8vw;
  width: 8vw;
  left: 40%;
  bottom: 38vw;
  z-index: -3;
  background-image: url("../img/cupcake1.1.png");
  opacity: 0.8;
}

.prlx11 {
  height: 20vw;
  width: 20vw;
  left: 35%;
  bottom: -53vw;
  z-index: -3;
  background-image: url("../img/praline2.png");
}

@media (min-width: 800px) {
  .section_parallax {
    height: 40vw;
  }
  .prlx1 {
    bottom: -28vw;
  }
  .prlx2 {
    bottom: -13vw;
  }
  .prlx3 {
    bottom: -48vw;
  }
  .prlx4 {
    bottom: 7vw;
  }
  .prlx5 {
    bottom: 0vw;
  }
  .prlx6 {
    bottom: -2vw;
  }
  .prlx7 {
    bottom: -72vw;
  }
  .prlx8 {
    bottom: 11vw;
  }
  .prlx9 {
    bottom: 8vw;
  }
  .prlx10 {
    bottom: 18vw;
  }
  .prlx11 {
    bottom: -63vw;
  }
}

.section_third {
  height: auto;
  position: relative;
  border-top: 1px solid #f2a705;
  border-bottom: 1px solid #f2a705;
  background-color: white;
  padding-bottom: 100px;
  overflow: auto;
}

.st_header {
  font-family: 'Damion', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 3.5em;
  color: #d0003c;
  margin: 50px auto;
  transition: 1s;
  opacity: 0;
  transform: translateY(-50px);
}

.st_header::-moz-selection {
  background: rgba(208, 0, 60, 0.65);
  color: white;
}

.st_header::selection {
  background: rgba(208, 0, 60, 0.65);
  color: white;
}

.st_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
}

.st_pic {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 10px;
  border: 2px solid #f2a705;
  background-color: #f2a705;
  opacity: 0;
  transform: scale(1.05);
  transition: 0.5s;
  overflow: hidden;
  background-size: cover;
  cursor: pointer;
}

.st_pic div {
  background-color: rgba(208, 0, 60, 0.65);
  height: 200px;
  width: 300px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.st_pic div h1 {
  font-family: 'Damion', cursive;
  font-weight: lighter;
  font-size: 3em;
  color: white;
  text-align: center;
  line-height: 200px;
  opacity: 0;
}

.st_pic div::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  height: 200px;
  width: 300px;
  left: -300px;
  background-color: transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid rgba(208, 0, 60, 0.65);
  border-right: 150px solid rgba(208, 0, 60, 0.65);
  border-left: 150px solid transparent;
}

.st_pic:nth-of-type(1) {
  background-image: url("../img/slide1.jpg");
}

.st_pic:nth-of-type(2) {
  background-image: url("../img/slide2.jpg");
}

.st_pic:nth-of-type(3) {
  background-image: url("../img/slide3.jpg");
}

.st_pic:nth-of-type(4) {
  background-image: url("../img/slide4.jpg");
}

.st_pic:nth-of-type(5) {
  background-image: url("../img/slide5.jpg");
}

.st_pic:nth-of-type(6) {
  background-image: url("../img/slide6.jpg");
}

.no-touch .st_pic:hover div {
  right: 0;
  transition: 0.5s;
}

.no-touch .st_pic:hover div h1 {
  transition: 0.3s;
  transition-delay: 0.4s;
  opacity: 1;
}

.st_picdiv_inactive div {
  right: -600px;
  transition: 0.5s;
}

.st_picdiv_active div {
  right: 0;
  transition: 0.5s;
}

.st_picdiv_active div h1 {
  transition: 0.3s;
  transition-delay: 0.4s;
  opacity: 1;
}

.sth_land {
  opacity: 1;
  transition: 1s;
  transform: translateY(0px);
}

.stp_land {
  opacity: 1;
  transition: 1s;
  transform: scale(1);
}

/*# sourceMappingURL=styles.css.map */
