// Basic

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

// Colors
$pink: rgba(208, 0, 60, 1);
$pinkglass: rgba(208, 0, 60, 0.65);
$yellow: rgba(242, 167, 5, 1);
$yellowglass: rgba(242, 167, 5, 0.65);

// Mixins

@mixin land($speed, $trans) {
  opacity: 1;
  transition: $speed;
  transform: $trans
}
